/* for dropdown in index page */

                @media screen and (min-width: 768px) {



                    .megamenu > .dropdown-menu {
                       left:-90%;
                       min-width:800px;
                    }

                  }

                  .dropdown-md > .dropdown-menu {
                      min-width:450px;
                  }

                  .dropdown-lg > .dropdown-menu {
                      min-width:850px;
                  }


                            /* visible for device */

                           /* for overflow text */
                         .textt {
                            display: block;
                            height: 50px;
                            margin: 0 auto;
                            line-height: 1.2;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                             text-overflow: ellipsis;}
                           /* image slider in inedex page */
                           /* Make the image fully responsive */
                          .carousel-inner img {
                            width: 100%;
                            height: 50%;}


                            /* for login form */

/* for navbar start */







